
<div class="col-sm-2">
</div

<div class="row">
  <div class="container col-sm-8 well well-sm">
    <h1><%= @raffle.title %></h1>
    <h2>To enter this raffle text <%= @raffle.id %> followed by your name to (619) 356-2300</h2><br>
    <%= render('form') %>
  </div>
</div>
