<div class="col-sm-2">
</div>
<div class="container col-sm-8 well well-md jumbotron" style="text-align:center">
  <h1>Welcome to Raffler</h1>

  <button class="btn btn-primary btn-lg",  id:"new-button" ><%= link_to "New Raffle", new_raffle_path, style: "color: white" %></button>

</div>
