<div class="col-sm-2">
</div>
<div class="container col-sm-8 well well-md jumbotron" style="text-align:center">
  <h1>Welcome to Raffler</h1>

  <button class="btn btn-default btn-lg"><%= link_to "New Raffle", new_raffle_path %></button>
</div>
