<div class="container">

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Raffler</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">New Game <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Previous Winners</a></li>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="ruby-title">
  <a href="/#" class="navbar-brand"><img src="https://www.codementor.io/assets/tutorial_icon/ruby-on-rails.png"></a>
  <div class="main-title">Get your Raffle On</div>
</div>


       <div id="wheel">
           <canvas id="canvas" width="1000" height="600"></canvas>
       </div>
       <div id="counter"></div>

<h1><%= @raffle.title %></h1>

<ul>
  <% @raffle.contestants.each do |contestant| %>
    <li><%= contestant.name %></li>
  <% end %>
</ul>
<ul>
  <% @winners.each do |winner| %>
  <li><%= winner.name %></li>
  <% end %>
</ul>
